<div class="container" id="About-market">

  <div class="headerAbout">
    <h3>About us</h3>
  </div>
  <!-- end header -->
  <!-- Example row of columns -->

  <div class="row" id="Aboutmarket">
    <h4>About of all products in food co
    </h4>
    <p>
      Super Content Marketing 2017 is the third annual conference for marketers and content creators who are serious about using content to build business and increase revenues in an evolving marketing landscape. Join the inspiring brands, marketers and
      industry thought-leaders as they converge in Stockholm, to provide you with the cutting-edge knowledge and advanced skills you need.
    </p>
    <div class="row">
      <div class="col-md-4 col-xs-12">

        <%= image_tag("p3.jpg", class: "img-responsive img-center") %>

      </div>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("p4.jpg", class: "img-responsive img-center") %>
      </div>

      <div class="col-md-4 col-xs-12">
        <%= image_tag("p3.jpg", class: "img-responsive img-center") %>
      </div>
    </div>
  </div>
</div>
