

                   <center><h3>About Me</h3></center> 
              
                <!-- end header -->
                <!-- Example row of columns -->
               
                        <h2> Introdution of myself</h2>
                        <p>I am aComputer engineer, I graduated from the Islamic University, I work in adesign befor ,and Now I train web development in international company "career foundryr </p>
                 
                    <!-- /col -->
                  
                        <h2>My skills</h2>
                        <ul id="skill-list">
                            <li>web development</li>
                            <li>design</li>
                            <li>reading</li>
                        </ul>
                   
                    <!-- end skill -->
             
                <!-- /col -->
             
                        <h2>More about me </h2>
                        <p>I am aComputer engineer, I graduated from the Islamic University, I work in adesign befor ,and Now I train web development in international company "career foundry" </p>
                
                    <!-- end main text -->
