

 <div class="container-fluid" id="About">
    <div class="headerAbout">
        <h3>About Me</h3>
    </div>
    <!-- end header -->
    <!-- Example row of columns -->
    <div class="row" id="AboutMe">
        <div class="col-md-4 col-sm-6">
          
            <%= image_tag("profilepic.jpg", class: "img-responsive") %>
        </div>
        <div class="col-md-4 col-sm-6 color-title ">
            <h2> Introdution of myself</h2>
            <p>I am aComputer engineer, I graduated from the Islamic University, I work in adesign befor ,and Now I train web development in international company "career foundryr </p>
        </div>
        <!-- /col -->
        <div class="col-md-4 col-sm-6 color-title  ">
            <h2>My skills</h2>
            <ul id="skill-list">
                <li>web development</li>
                <li>design</li>
                <li>reading</li>
            </ul>
        </div>
    </div>
    </div>