 
<div class="container " id="contact">
 <form action="/contact" method="post" name="contact">
                                    <div class="form-group">
                                        <div class="lablename">
                                            <label for="Name">Name:</label>
                                        </div>
                                        <input name="contactname" minlength="4" maxlength="20" type="text" class="form-control" placeholder="Enter your name here" id="contactname" title="Input your name here.">
                                    </div>
                                    <div class="form-group">
                                        <div class="labelemail">
                                            <label for="Email">Email address:   </label>
                                        </div>
                                        <input name="contactname" minlength="5" maxlength="30" title="Input Email Address here" type="email" required="required" class="form-control" placeholder="Enter your email here" id="email1">
                                    </div>
                                    <textarea minlength="5" maxlength="500" title="Input message you would like to send me here." required="required" id="message1" placeholder="Leave your message here" class="form-control message-box" style="resize:none" cols="40" rows="5"></textarea>
                                    <p id="visible-comment"></p>
                                    <center>
                                        <p id="char-count"></p>
                                    </center>

                                    <button id="buttonsubmit" type="submit" class="btn btn-default">Submit</button>

                                </form>
                                </div>