
<div class="container " id="About-market">
<h2>Featured Product:</h2>
<%= @featured_product.name %>
<%= image_tag("5.png", class: "img-responsive") %>
<br>
<%= @featured_product.description %>
</div>
