<div class="title-edit"><h2>Editing User</h2></div>
<div class="container edit-container-style">
<%= render 'form', user: @user %>
</div>
<br>
<center>
<div class="btn btn-info btn-xs"><%= link_to 'Show', @user %> </div> |
<div class="btn btn-info btn-xs"><%= link_to 'Back', users_path %></div>
</center>
</div>