
<div class="container" id="container-order">
	<h2>orders</h2>
	<p>The .table-striped class adds zebra-stripes to a table:</p>
	<table class="table table-striped">
		<thead>
			<tr>

				<th>product</th>
				<th>total</th>
			</tr>
		</thead>
		<%@orders.each do |order| %>
		<tr>
			<td><%=order.product_id%></td>
			<td><%=order.total%></td>
			<td><div class="btn btn-info text-white"><%=link_to 'Show', order %></div></td>
        <td><div class="btn btn-info text-white"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
		</tr>
		<% end %>
	</table>
</div>
