<div class="container" id="container-order">

<h2>orders</h2>
  <p>The info of order</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>product id</th>
        <th>total</th>

      </tr>
    </thead>
      <tr>
        <td><div class="btn btn-info text-white"><%= @order.product_id %></div></td>
        <td><div class="btn btn-info text-white"><%= @order.total %></div></td>
        <td><div class="btn btn-info text-white"><%= link_to 'Back', orders_path %></div></td>
      </tr>
  </table>
</div>

