#pro{
padding-top: 80px;
width: 80%;
margin: 0 auto;
padding-bottom: 120px;
}

#header-product h3 {
color: #212121;
font-weight: 300;
text-align: center;
padding-bottom: 0.5em;
position: relative;
font-size: 2.5em;
text-transform: uppercase;
}
#layout-row{
padding-bottom: 30px;

}

#name-pro{
font-size: 18px;

}
#form-layout{
padding: 10px;
}
.border1{
border: 1px solid gray;
border-radius: 1px;
margin: 15px;
background-color: white;

}
.title{
background-color:#efcdc8;
text-align: center;
padding: 2px;
}

.margin-auto{
margin: 0 auto;
text-align: center;
}

// @media (max-width: 480px) {
//   .border1{
//     margin: 5px;
//   }
.col-item
{
border: 1px solid #E1E1E1;
border-radius: 5px;
background: #FFF;
}
.col-item .photo img
{
margin: 0 auto;
width: 100%;
}

.col-item .info
{
padding: 10px;
border-radius: 0 0 5px 5px;
margin-top: 1px;
}

.col-item:hover .info {
background-color: #F5F5DC;
}
.col-item .price
{
/*width: 50%;*/
float: left;
margin-top: 5px;
}

.col-item .price h5
{
line-height: 20px;
margin: 0;
}

.price-text-color
{
color: #219FD1;
}

.col-item .info .rating
{
color: #777;
}

.col-item .rating
{
/*width: 50%;*/
float: left;
font-size: 17px;
text-align: right;
line-height: 52px;
margin-bottom: 10px;
height: 52px;
}

.col-item .separator
{
border-top: 1px solid #E1E1E1;
}

.clear-left
{
clear: left;
}

.col-item .separator p
{
line-height: 20px;
margin-bottom: 0;
margin-top: 10px;
text-align: center;
}

.col-item .separator p i
{
margin-right: 5px;
}
.col-item .btn-add
{
width: 50%;
float: left;
}

.col-item .btn-add
{
border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
width: 50%;
float: left;
padding-left: 10px;
}

.agileinfo_single_left{
padding: 2em;
box-shadow: 0px 0px 5px #b2afaf;
}

.description p {
font-size: 14px;
color: #999;
line-height: 2em;
margin: .5em 0 0;
width: 80%;

}

.description{
margin: 2em 0; 
}

.description h4{
font-size: 1em;
color: #212121;
text-transform: uppercase;

}
.agileinfo_single_right{
padding-left: 5em;
}
.agileinfo_single_right h2{
font-size: 1.8em;
color: #212121;
line-height: 1.5em;
text-transform: uppercase;
margin-bottom: 1em;

}

.center-img{
margin: 0 auto;
}

.price h4 {
font-weight: 600;
font-size: 1em;
color: #212121;
text-align: center;
}

//pagination
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
