#pro{
  width:80%;
  background-color: #f0eded;
  height:100%;
  border: 1px solid blue;
  padding: 20px;
  border-color: gray;
  margin-top: 100px;
}
#layout-row{
  padding-bottom: 30px;

}

#name-pro{
  font-size: 18px;

}
#form-layout{
  padding: 10px;
}
.border1{
  border: 1px solid gray;
  border-radius: 1px;
  margin: 15px;
  background-color: white;

}
.title{
  background-color:#efcdc8;
  text-align: center;
  padding: 2px;
}

.margin-auto{
  margin: 0 auto;
  text-align: center;
}

// @media (max-width: 480px) {
//   .border1{
//     margin: 5px;
//   }






// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
