<div class="container" id="pro">

 <center><div class="title-review"><h2>Editing Product</h2></div>
</center> 
<br>
  <%= render 'form', product: @product %>
  <br>
<center>
 <div class="btn btn-info btn-xs"> <%= link_to 'Show', @product %></div>
  |
 <div class="btn btn-info btn-xs"> <%= link_to 'Back', products_path %></div>
 </center>
</div>
