<div class="container" id="pro">

  <!-- <div class="container" id="header-product"> -->
    <h3>Products</h3>
<!-- </div> -->
  <p id="notice"><%= notice %></p>
  <br>
  <div class="row">
    <% cache(cache_key_for_products) do %>
    <%@products.each do |product| %>
     
      <%= render partial: "product", locals: {product: product} %>
        <% end %>

    <% end %>
  </div>
  <center>
    <%= link_to 'New Product', new_product_path, class: "btn-primary" %>
  </center>
    </div>


