<div class="container" id="pro">

 
    <center><div class="title-review"><h2>Products</h2></div></center>

  <p id="notice"><%= notice %></p>
  <br>
  <div class="row">
    <% cache(cache_key_for_products) do %>
    <%@products.each do |product| %>
     
      <%= render partial: "product", locals: {product: product} %>
        <% end %>

    <% end %>
  </div>
  <center>
    <div class="btn btn-info text-white"><%= link_to 'New Product', new_product_path, class: "btn-primary" %></div>
  </center>
    </div>


