

<div class="container" style="padding-top: 50px;">

<% if notice %>
    <div class=" text-center text-info"><p id="notice" class="alert alert-info"><%= notice %></p></div>

<% end %>

<% if alert %>
    <div class=" text-center text-warning">  <p id="alert" class="alert alert-info"><%= alert %></p> </div>
<% end %>
</div>
